# Binaries and executables
/kafka
*.exe
*.exe~
*.dll
*.so
*.dylib

# Log files
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
/vendor/

# Build and temporary directories
/bin/
/tmp/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Air temporary files
/tmp/
